<!-- <div >

  <h1>HOLA APP</h1>
</div> -->
<mat-sidenav-container [class.dark-theme]="isDark()" class="app-sidenav-container">
 <!--  <mat-sidenav>
    <div>
      Some sidenav content...
    </div>

  </mat-sidenav> -->
  <div class="app-sidenav-content">

    <div class="wrapper">
     <!--  <button (click)="changeTheme()">CAMBIAR</button> -->
      <button mat-flat-button (click)="changeTheme()" color="primary">Basic</button>
       <h1>HOLA</h1>
    </div>
  </div>

</mat-sidenav-container>
